@model PassionProject_TiffinSystem.Models.ViewModels.AddMeal

@{
    ViewBag.Title = "New";
}


<h2>Add Menu</h2>
<form action="/SchedulexMeal/Create" method="POST" style="border: 1px solid #000; padding: 1em; margin-top: 1em; ">

    <div>
        <label>Schedule:</label>
        <select name="ScheduleId">

            @foreach (var schedule in Model.SelectedSchedule)
            {
                <option value="@schedule.ScheduleID">@schedule.StartDate To @schedule.EndDate</option>

            }
        </select>
    </div>
    <div>
        <label>Day:</label>
        <select name="Day">
            {
            <option value="Sunday">Sunday</option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>

            }
        </select>

    </div>
    <div>
        <label>Meal Type:</label>
        <select name="MealId">

            @foreach (var meal in Model.MealType)
            {
                <option value="@meal.MealID">@meal.Mealtype</option>

            }
        </select>
    </div>
    <div>
        <label>Food Items:</label>
        <select name="FoodID">


            @foreach (var food in Model.foodoptions)

            
               
                {
                    <option value="@food.FoodID">@food.ItemName</option>
                  }
            
        </select>
    </div>

    <div>
        <input type="submit" value="Add" class="submitbtn" style="background: #0066A2; color: white; border-style: outset; border-color: #0066A2; padding: 0.2em 0.5em; margin-top:1em "/>
    </div>

</form>

